@if (tab() === Tab.Notes) {
  <button
    type="button"
    class="btn btn-primary w-100 mb-3"
    (click)="addNote.emit()"
  >
    <i class="bi bi-plus-lg"></i> New Note
  </button>
}

<div>
  <input
    type="text"
    id="filter"
    placeholder="Filter"
    class="form-control"
    (input)="onInput($event)"
  />
</div>
@for (note of notesFilteredByTab(); track note.id) {
  <app-note-panel-item
    [note]="note"
    (selected)="noteSelected.emit(note)"
    (deleted)="noteDeleted.emit(note)"
    [tab]="tab()"
  ></app-note-panel-item>
}
