@if (tab() === Tab.Notes) {
  <div class="d-flex align-items-center gap-2 pb-2">
    <button
      type="button"
      class="btn btn-primary flex-grow-1"
      (click)="addNote.emit()"
    >
      <i class="bi bi-plus-lg"></i> New Note
    </button>

    @if (settings.showSortingButtons) {
      <button
        class="btn btn-outline-secondary"
        title="Sort A → Z"
        (click)="sortAlphabeticallyClicked()"
      >
        <i class="bi bi-sort-alpha-down"></i>
      </button>
      <button
        class="btn btn-outline-secondary"
        title="Sort by newest first"
        (click)="sortByDateClicked()"
      >
        <i class="bi bi-calendar-date"></i>
      </button>
    }
  </div>
}

<div class="d-flex align-items-center gap-2 w-100">
  <input
    type="text"
    id="filter"
    placeholder="Filter"
    class="form-control"
    (input)="onFilterNote($event)"
  />

  <input
    type="text"
    id="filterTag"
    placeholder="Tag"
    class="form-control"
    (input)="onFilterTag($event)"
  />
</div>
@for (note of notesFilteredByTab(); track note.id) {
  <app-note-panel-item
    [note]="note"
    (selected)="noteSelected.emit(note)"
    (deleted)="noteDeleted.emit(note)"
    [tab]="tab()"
  ></app-note-panel-item>
}
