<div class="row">
  <div class="col-3" style="margin-top: 66px">
    @if (notesInCurrentTab.length > 0 || selectedTab() === Tab.Notes) {
      <app-notes-panel
        [notes]="filteredNotes()"
        (noteSelected)="onNoteChosen($event)"
        (noteDeleted)="onNoteMovedToTrash($event)"
        (addNote)="onNewNote()"
        (filterNote)="onNoteFiltered($event)"
        (filterTag)="onNoteFilteredByTag($event)"
        [tab]="selectedTab()"
      ></app-notes-panel>
    }
  </div>

  <div class="col-9">
    <app-navigation-bar
      (selectedTab)="onTabSelected($event)"
    ></app-navigation-bar>

    @if (selectedNote()) {
      <app-note
        [selectedNote]="selectedNote()"
        (updatedNote)="onNoteUpdated($event)"
        (movedToTrashNote)="onNoteMovedToTrash($event)"
        (restoreNote)="onNoteRestored($event)"
        (deletedNote)="onNoteDeleted($event)"
        (archivedNote)="onNoteArchived($event)"
        (pinnedNote)="onNotePinned($event)"
        [tab]="selectedTab()"
      ></app-note>
    } @else {
      <app-empty-state
        [description]="selectedTab() + ' is empty'"
      ></app-empty-state>
    }
  </div>
</div>
