<app-navigation-bar (selectedTab)="onTabSelected($event)"></app-navigation-bar>
<div class="row">
  <div class="col-3">
    <app-notes-panel
      [notes]="filteredNotes()"
      (noteSelected)="onNoteChosen($event)"
      (noteDeleted)="onNoteDeleted($event)"
      (addNote)="onNewNote()"
      (filterNote)="onNoteFiltered($event)"
      [tab]="selectedTab()"
    ></app-notes-panel>
  </div>
  <div class="col-9">
    <app-note
      [selectedNote]="selectedNote()"
      (updatedNote)="onNoteUpdated($event)"
      (deletedNote)="onNoteDeleted($event)"
      (restoreNote)="onNoteRestored($event)"
      [tab]="selectedTab()"
    ></app-note>
  </div>
</div>
