<div
  class="list-group-item list-group-item-action p-3 position-relative"
  (click)="selected.emit(note())"
>
  <div class="d-flex align-items-center">
    @if (note().pinnedAt) {
      <i
        class="bi bi-pin-fill text-primary me-2"
        style="font-size: 0.9rem"
        title="Pinned"
      ></i>
    }

    <h6 class="fw-bold mb-1 mb-0">{{ note().title }}</h6>
  </div>
  <small class="text-muted d-block">{{ note().content | truncate }}</small>
  @if (tab() === Tab.Notes) {
    <button
      class="btn btn-sm btn-danger position-absolute top-50 end-0 translate-middle-y me-2 delete-btn"
      (click)="deleted.emit(note()); $event.stopPropagation()"
      title="Delete note"
    >
      <i class="bi bi-trash"></i>
    </button>
  }
</div>
