@if (selectedNote()) {
  <form [formGroup]="noteForm">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        id="title"
        class="form-control"
        formControlName="title"
        placeholder="Enter note title"
      />
    </div>

    <div class="mb-3">
      <label for="content" class="form-label">Content</label>
      <textarea
        id="content"
        class="form-control"
        rows="10"
        formControlName="content"
        placeholder="Enter note content"
      ></textarea>
    </div>
    <div class="d-flex justify-content-between align-items-start">
      <div class="d-flex flex-column">
        <div>
          Created: {{ selectedNote()?.createdAt | date: 'dd.MM.yyyy HH:mm' }}
        </div>
        @if (selectedNote()?.editedAt) {
          <div>
            Edited:
            {{ selectedNote()?.editedAt | date: 'dd.MM.yyyy HH:mm' }}
          </div>
        }
      </div>
      <button type="button" class="btn btn-danger" (click)="onDelete()">
        Delete
        <i class="bi bi-trash3"></i>
      </button>
    </div>
  </form>
} @else {
  <div></div>
}
